.page {
    margin: 1rem;
}

.page-action-list {
    display: flex;
    flex-direction: row;
}

.page-action-list a {
    margin: 1rem;
}

.add-new-page-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    margin: 1rem;
}