.page-list-item-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    height: 5vh;
    justify-content: center;
    margin-bottom: .4rem;
}

.page-list-content {
    overflow: hidden;
    justify-content: space-between;
}

.post-title {
    margin-right: 4rem;
}

.page-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-created-at,
.post-updated-at {
    display: flex;
    flex-direction: row;
}

.post-created-at p,
.post-updated-at p{
    margin-right: .2rem;
}

.pages-list {
    padding: 1rem;
}

.page-list-component {
    background-color: #f1f1f1;
    height: 100vh;
}

.page-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-name {
    margin-right: 10vw;
}