.mobile-menu {
	position: absolute;
	z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    transform: translate(100%, 0);
    height: 100%;
    width: 100%;
    background-color: #fcfcfc;
	color: #fff;
	transition: transform 0.7s ease-in;
}

.mobile-menu.visible {
    transform: none;
}

.mobile-menu-items {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 1rem 1rem 1rem 3.813rem;
}

.cross-icon {
    position: absolute;
    top: 0;
    margin-top: 8px;
    right: 0;
    height: 3.3rem;
}

.cross-icon img {
}